/* See http://visjs.org/examples/timeline/styling/itemClassNames.html on how to apply style classes to vis items. */

.vis-item.inzetgroen {
    background-color: limegreen;
    border-color: limegreen;
}

.vis-item.inzetblauw {
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.vis-item.inzetgeel {
    background-color: yellow;
    border-color: yellow;
}

.vis-item.inzetbruin {
    background-color: rosybrown;
    border-color: rosybrown;
}

.vis-item.inzetrood {
    background-color: red;
    border-color: red;
}

